<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>Mimo</string>
    <key>CFBundleDisplayName</key><string>Mimo</string>
    <key>CFBundleExecutable</key><string>Mimo</string>
    <key>CFBundleIconFile</key><string>Mimo</string>
    <key>CFBundleIdentifier</key><string>dev.nerelli.mimo</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.1.0</string>
    <key>CFBundleVersion</key><string>1</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSHumanReadableCopyright</key><string>Eugenio Nerelli</string>
</dict>
</plist>
